@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-left: 0;
        padding-top: 12px;
        justify-content: center;
        align-items: center;
    }

    header div {
        padding: 6em 0 6em 3em;
    }

    .trainings,
    .getInTouch {
        flex-direction: column;
    }

    .trainings div {
        width: 55%;
    }

    .trainings div img {
        width: 100px;
        height: 100px;
    }

    .instructors-pic {
        flex-direction: column;
        justify-content: center;
    }

    .getInTouch {
        align-items: unset;
        margin-bottom: 20px;
    }

    .site-footer .wrapper {
        flex-wrap: wrap;
    }

    .site-footer .about {
        flex: 100%;
    }

    .site-footer .sitemap,
    .site-footer .header {
        flex: 50%;
    }
}
