@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@import url("reset.css");

body {
    font-family: Helvetica, sans-serif;
}

header {
    position: relative;
}

header .logo {
    background: #a77b18;
    position: absolute;
    left: 100px;
    top: 50px;
    width: 240px;
    padding: 24px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .nav {
    color: #4d5874;
    display: flex;
    flex-direction: column;
    width: 95%;
}

header .nav .bottom-nav {
    height: 40px;
}

header .nav .top-nav ul,
header .nav .bottom-nav ul {
    justify-content: flex-end;
    display: flex;
    gap: 50px;
}

header .nav .top-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 30px;
}

header .nav .bottom-nav ul li {
    padding: 12px;
    cursor: pointer;
    margin-bottom: 50px;
}

header .nav .top-nav ul li:hover,
header .nav .bottom-nav ul li:hover {
    background-color: #a77b18;
    color: #ffffff;
}

header .nav .top-nav ul li i {
    font-size: 30px;
}

main .shuttel {
    height: 70vh;
    position: relative;
}

main .shuttel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

main .shuttel .container {
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 35%;
    background: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    padding: 60px 40px;
}

main .shuttel .container h2 {
    font-size: 32px;
    padding-bottom: 20px;
}

main .shuttel .container p {
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 20px;
}

main .shuttel .container button {
    background: bottom;
    font-weight: bolder;
    color: #a77b18;
    font-size: 24px;
    border: 3px solid #ffffff;
    padding: 12px;
    cursor: pointer;
}

main .shuttel .container button:hover {
    background-color: #ffffff;
    color: #e3a922;
}

main .card {
    background: linear-gradient(85deg, rgba(149, 102, 10, 1) 39%, rgba(207, 171, 59, 1) 60%);

    color: #ffffff;
    text-align: center;
}

main .card h2 {
    padding: 30px;
    font-size: 32px;
}

main .card ul {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 24px;
}

main .card ul li {
    margin: 20px;
    font-size: 24px;
}

main .card ul li i {
    margin-right: 24px;
}

main .card button {
    cursor: pointer;
    color: #ffffff;
    border: 3px solid #ffffff;
    background: bottom;
    text-align: center;
    padding: 12px;
    margin: 0 auto 20px;
    font-size: 24px;
}

main .icons {
    text-align: center;
}

main .icons h2 {
    font-size: 50px;
    font-weight: 100;
    margin: 50px auto;
    width: 70%;
}

main .icons .sub-title {
    font-size: 24px;
}

main .icons ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 60%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

main .icons img {
    border-radius: 100%;
    width: 100%;
    margin: 40px auto;
}

main .news {
    background: #a77b18;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

main .news button {
    background: bottom;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 12px 24px;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 18px;
}
