body,
ul,
li {
  display: flex;
  flex-wrap: wrap;
}

ul {
  justify-content: space-between;
  gap: 20px;
}

li {
  list-style: none;
  justify-content: space-between;
  border: 10px solid black;
  padding: 25px;
  align-items: center;
  box-shadow: 15px 5px 20px rgb(0, 0, 0, 0.5);
}
