@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import url("reset.css");

body {
    font-family: "Open Sans", sans-serif;
}

main {
    width: 50%;
    margin: 200px auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left,
.right {
    flex: 50%;
}

.left {
    background-image: url(image/cover.jpg),
        linear-gradient(rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.614));
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    color: #ffffff;
    text-align: center;
}

.left .header {
    text-align: left;
    padding: 18px;
}

.left .title {
    font-size: 38px;
    font-weight: lighter;
    padding-top: 180px;
}

.left .sub-title {
    font-size: 26px;
    padding-bottom: 180px;
}

.left ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 20px auto;
}

.right form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.right label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #d6d6d6;
}

.right input {
    border: none;
    border-bottom: 1px solid #d2d2d2;
    font-size: 22px;
}

.right a {
    color: #beb8b3;
    display: inline;
    flex: 45%;
}

.right label:nth-child(5) {
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.right button {
    color: #d6d6d6;
    background-color: #000000;
    flex: 45%;
    padding: 8px 24px;
    border-radius: 24px;
}
