input[type="submit" i]{
    color: white;
    background: darkgray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer
}

input[type="submit" i] :hover{
    background:darkgray;
    color: white;
    border: 1px solid darkgray;
}