input[type="submit"]{
    color: white;
    background: darkgray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer
}

input:hover{
    background:white;
    color: darkgray;
    border: 1px solid darkgray;
}

a:visited{
    color: red;
}